.modal-content {
  animation-name: animateModal !important;
  animation-duration: 0.5s !important;
  animation-timing-function: ease-in-out !important;
}

@keyframes animateModal {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 100;
  }
}
